.spanText {

    color: rgb(247, 216, 14);
}

.spanCorchete {

    color: yellow;
}

.spanText2 {

    color: rgb(0, 234, 255);
}

.spanText3 {

    color: rgb(255, 209, 149);
}

#sectionAboutMe p {

    margin-left: 1.5rem;
}

.contAboutMe {

    margin-top: 1rem;
}

.styleHover p:hover {

    background-color: rgb(50, 50, 50);
}

.bg-Notes1 {
    background-color: rgb(55, 66, 195);
    width: 15%;


}

.bg-Notes2 {

    background-color: rgb(55, 66, 195);
    width: 19%;
}

.bg-Notes3 {

    background-color: rgb(55, 66, 195);
    width: 33%;
}

.bg-Notes4 {

    background-color: rgb(55, 66, 195);
    width: 26%;
}

.bg-Notes5 {

    background-color: rgb(55, 66, 195);
    width: 28%;
}