/* ----------------------------- */
/* 🎨 ESTILOS GLOBALES */
/* ----------------------------- */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
}

.fondo {

    position: relative;
    background-image: url(../media/img/fondo-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    flex-direction: column;
    min-height: 100vh;
    z-index: 0;
}

.fondo::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.497);
    z-index: -1;
}


.modal-backdrop.show {
    z-index: 3000 !important;
}

.modal.show {
    z-index: 3001 !important;
    position: fixed !important;
}



main {
    margin-top: 8%;
    flex: 1;
}

/* ----------------------------- */
/* 🌈 NAVEGACIÓN */
/* ----------------------------- */

.styleNav {
    background: linear-gradient(to left, rgb(251, 251, 251), rgb(150, 202, 253));
}

.logo {
    max-width: 80px;
    border-radius: 50%;
}

.logo:hover {
    transform: scale(1.3);
}

#navbarSupportedContent .nav-link {
    font-size: 15px;
    margin-left: 20px !important;
}

#navbarSupportedContent .nav-link:hover {
    transform: scale(1.1);
    border: none;
    border-bottom: 1px solid red;
}

.carrito {

    background-color: transparent;
    border: none;
    font-size: 25px;
    outline: none;
}

.carrito:hover {

    transform: scale(1.2);
}


.modal {
    z-index: 1000 !important;
}

/* ----------------------------- */
/* 🗺️ Código Postal
/* ----------------------------- */
.contInput {

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contInput h2 {

    text-align: center;
    font-size: 3.5rem;
    margin-right: 1.5rem;
    color: rgb(255, 238, 0);
    font-weight: bold;
    padding: 0.5rem;
}


.contPostal {
    position: relative;
    gap: 0;
    width: 40%;
    margin: auto;
}


.postalBtn {
    position: absolute;
    top: 0;
    right: 2.9rem;
    width: 9.2%;
    height: 3rem;
    border: none;
    outline: none;
}

.contPostal input {

    width: 90%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid rgb(27, 26, 26);
    outline: none;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.postalBtn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.contPostal input::placeholder {
    font-size: 1rem;


}

/* ----------------------------- */
/* PEDIDOS
/* ----------------------------- */

.contImg {

    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;


}

.contImg img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-bottom: 0.9rem;
    border: 2px solid transparent;
}


.contImg button {

    border: none;
    outline: none;
    cursor: pointer;
    width: auto;
    background-color: transparent;
}

.contImg button:hover img {

    border: 2px solid rgb(0, 0, 0);
    transform: scale(0.9);
    outline: none;
    transition: 0.8s ease-in-out;
}

.contImg button:focus img {

    transform: scale(1);
    transition: 0.8s ease-in-out;
    border: 2px solid rgb(0, 0, 0);


}

.btn-sumar:hover ,
.btn-restar:hover {

    transform: scale(1.1);
}




.bebidas ul,
.patatasFritas ul,
.fastFood ul,
.hamburguesa ul {

    height: 280px;
    list-style: none;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.729);


}

.bebidas li,
.patatasFritas li,
.fastFood li,
.hamburguesa li {

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem;


}

#listBebidas button,
#listPatatas button,
#listFastFood button,
#listHamburguesa button {

    color: rgb(69, 69, 69) !important;
    border: 1px solid rgb(126, 126, 126);
    outline: none;

}



.list-group li {

    list-style: none;
    padding: 0.3rem;
}


#modalHeader button {

    background-color: transparent;
    border: 1px solid rgb(237, 237, 237);
    padding: 0.3rem;
    outline: none;
    color: blue;
    margin-left: 1rem;

}

.btn-close {

    margin-bottom: 7rem !important;
}


#modalCarrito .modal-content {

    height: 60vh;
    width: 60%;
    overflow-y: auto;



}

/* =====================
   MEDIA QUERIES RESPONSIVE
   ===================== */

/* Móviles XS (≤575px) */
@media (max-width: 575px) {
    body::before {
        content: "≤575px XS";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(185, 6, 6);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }

    .contImg {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
    }

    .contPostal {
        position: relative;
        gap: 0;
        width: 100%;
        margin: auto;
    }

    .contImg img {

        width: 100px;
        height: 100px;
    }

    .postalBtn {
        position: absolute;
        top: 0;
        right: 1.3rem;
        width: 9.2%;
        height: 3rem;
        border: none;
        outline: none;
    }


}

/* Móviles verticales SM (576px – 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    body::before {
        content: "576px-767px SM";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(0, 255, 30);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }
}

/* Tablets verticales MD (768px – 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    body::before {
        content: "768px-991px MD";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(1, 22, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }
}

/* iPad Pro Vertical (Portrait) */
@media (min-width: 834px) and (max-width: 1024px) {}

/* Tablets horizontales / laptops pequeñas LG (992px – 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {

    body::before {
        content: "992px-1199px LG";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(196, 1, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        z-index: 9999;

    }
}


/*NEST HUB NORMAL YS I (1200px – 1279px) */
@media (min-width: 1200px) and (max-width: 1279px) {
    body::before {
        content: "1200px-1279px";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 5px;
        z-index: 9999;

    }
}

/* iPad Pro Horizontal (Landscape) */
@media (min-width: 1025px) and (max-width: 1366px) {}

/* NEST HUB MAX Y SIMILARES (1280px – 1399px) */
@media (min-width: 1280px) and (max-width: 1399px) {

    body::before {
        content: "1200px-1279px";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(255, 102, 0);
        color: rgb(255, 255, 255);
        padding: 5px;
        z-index: 9999;
    }
}

/* Pantallas grandes XXL ≥1400px */
@media (min-width: 1400px) {
    body::before {
        content: "1200px-1279px";
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: rgb(135, 181, 255);
        color: rgb(255, 255, 255);
        padding: 5px;
        z-index: 9999;
    }
}