.cont-img img {

    max-width: 100%;
    width: 200px;
    border-radius: 30%;
}

.textMonedas {

    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.textChico {
    font-size: 3rem;
    background: linear-gradient(to left, yellow, green);
    text-align: center;
    color: white;

}

.textMedio {

    font-size: 3rem;
    background: linear-gradient(to left, yellow, green);
    text-align: center;
    color: white;

}

.textGordo {
    font-size: 3rem;
    background: linear-gradient(to left, yellow, green);
    text-align: center;
    color: white;


}

.textPerdiste {
    font-size: 2rem;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(253, 156, 45));
    text-align: center;
    color: white;


}

.fondo {
background: linear-gradient(to left, rgb(1, 1, 113) , rgb(231, 4, 197) );
}